<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Net.AlexKing.Calculator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Net.AlexKing.Calculator.Settings>
            <setting name="Ra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Re" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rj" serializeAs="String">
                <value>0</value>
            </setting>
        </Net.AlexKing.Calculator.Settings>
    </userSettings>
</configuration>